ol, ul {
	margin: 0;
	padding: $space-half 0 0 0;
	list-style: none;
}

li {
    padding: 0 0 $space-half 0;

    &:last-child {
        padding: 0;
    }
}

/* Definition Lists */
dl {
	overflow: hidden;
	margin: 0 0 $space;
    width: 100%;
}


dt {
    clear: both;
    display: table-cell;
    float: left;
    font-weight: bold;
    padding: $space-half 0;
    width: 30%;
}

dd {
    display: table-cell;
    padding: $space-half 0 $space-half $space-half;
}